.featured-work-circle {
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.scroll__arrow {
  -webkit-animation: bounce 0.6s linear infinite alternate;
          animation: bounce 0.6s linear infinite alternate;
}

@-webkit-keyframes bounce {
  0% {
    bottom: -10px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bounce {
  0% {
    bottom: -10px;
  }
  100% {
    bottom: 0;
  }
}

body,
ul,
h1,
h2 {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.lock {
  height: 100%;
  overflow: hidden;
}

header {
  background: #f3eee8;
}

.wrapper {
  width: 88%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

header {
  height: 100vh;
}

header .links {
  position: absolute;
  bottom: 5em;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .links a {
  margin: 1px 0;
  font-family: "Satoshi", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: #720022;
  text-shadow: 2px 2px rgba(58, 0, 17, 0.171);
  font-size: 1rem;
  font-weight: 400;
}

header .links a:hover {
  -webkit-text-decoration: line-through 1px;
          text-decoration: line-through 1px;
}

header .scroll {
  font-family: "Satoshi", sans-serif;
  position: absolute;
  bottom: 5em;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .scroll::before {
  border-radius: 30px;
  content: '';
  display: inline-block;
  height: 60px;
  width: 1px;
  background: black;
}

header .scroll__arrow {
  position: absolute;
  bottom: -10px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .scroll.hidden {
  display: none;
}

@media (max-width: 816px) {
  .links {
    top: 67%;
  }
  .scroll {
    visibility: hidden;
  }
}

main {
  position: relative;
}

main .featured-work-circle {
  position: absolute;
  top: -2.5em;
  left: 46%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 90px;
  height: 90px;
}

.greeting {
  padding-top: 1em;
  height: calc(100% - 1em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.greeting__name {
  font-family: "Boska", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.greeting__name__first-name, .greeting__name__last-name {
  font-size: 0;
}

.greeting__name__first-name span, .greeting__name__last-name span {
  text-shadow: 2px 2px rgba(58, 0, 17, 0.171);
  font-size: 7.4rem;
  font-weight: 500;
  color: #312f3d;
}

.greeting__name__first-name span:nth-of-type(4) {
  margin-right: 0.20em;
}

.greeting__name__last-name span:nth-of-type(6) {
  font-style: italic;
}

.greeting__title {
  font-family: "Satoshi", sans-serif;
}

.greeting__title h2 {
  font-size: 1.8rem;
  font-weight: 300;
}

@media (max-width: 816px) {
  .greeting {
    height: 75%;
  }
  .greeting__name__first-name span, .greeting__name__last-name span {
    font-size: 14vw;
  }
  .greeting__name__last-name span:nth-of-type(6) {
    font-style: italic;
  }
  .greeting__title h2 {
    font-size: 6vw;
  }
}

.nav-icons {
  cursor: pointer;
  position: absolute;
  top: 3em;
  right: 0;
  width: 40px;
}

nav {
  background: #f3eee8;
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Boska", serif;
}

nav .nav-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-list .nav-links {
  margin: 0.5em 0;
}

nav .nav-list .nav-links a {
  color: black;
  letter-spacing: -1px;
  font-size: 4.6rem;
  text-shadow: 2px 2px rgba(58, 0, 17, 0.171);
}

nav .nav-list .nav-links a:hover {
  -webkit-text-decoration: line-through 3px #720022;
          text-decoration: line-through 3px #720022;
}

@media (max-width: 837px) {
  nav .nav-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 60%;
  }
  nav .nav-list .nav-links a {
    font-size: 3.2rem;
  }
}

.work .project1 {
  background: #e3dacd;
}

.work__project .wrapper {
  padding: 0.5em 0;
}

.work__project__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__project__text__title {
  text-shadow: 3px 3px rgba(58, 0, 17, 0.171);
  font-weight: 500;
  font-family: "Boska", serif;
  text-transform: uppercase;
  font-size: 12vw;
}

.work__project__text__description {
  letter-spacing: 0.2px;
  line-height: 1.5em;
  font-weight: 300;
  font-size: 6vw;
  margin: 0.5em 0;
}

.work__project__text__description, .work__project__text__stack {
  font-family: "Satoshi", sans-serif;
}

.work__project__text__stack {
  font-size: 4vw;
}

.work__project__text__stack span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0 0.3em;
  border-right: 1px solid black;
}

.work__project__text__stack span:nth-of-type(1) {
  padding-left: 0;
}

.work__project__img-container {
  position: relative;
  cursor: pointer;
  width: 100%;
  margin: 1em 0;
}

.work__project__img-container::before {
  background: #857f7725;
  -webkit-box-shadow: 0 5px 10px #797979;
          box-shadow: 0 5px 10px #797979;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.work__project__img-container:hover::before {
  position: relative;
}

.work__project__img-container img {
  width: 100%;
}

.work__project__img-container__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__project__img-container__links a {
  font-family: "Satoshi", sans-serif;
  color: #720022;
  text-shadow: 2px 2px rgba(58, 0, 17, 0.171);
  -webkit-text-decoration: 1px underline solid #720022;
          text-decoration: 1px underline solid #720022;
  font-weight: bold;
  text-transform: uppercase;
}

.work__project__img-container__links a:nth-of-type(1) {
  margin-right: 1.5em;
}

.work .project2 {
  background: #f3eee8;
}

@media (min-width: 924px) {
  .work__project {
    border: 2px solid blue;
  }
  .work__project .wrapper {
    padding: 5em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work__project__text {
    width: 50%;
    position: relative;
  }
  .work__project__text__title {
    font-size: 6rem;
  }
  .work__project__text__description {
    font-size: 1.2rem;
    width: 85%;
  }
  .work__project__text__stack {
    margin: 0.8em 0;
    font-size: 0.9rem;
  }
  .work__project__img-container {
    width: 50%;
    position: relative;
  }
  .work__project__img-container__links {
    margin: 1em 0;
    position: absolute;
    padding: 0.5em 0;
    width: 100%;
  }
  .work__project__img-container__links a {
    font-size: 1rem;
    color: black;
  }
}

@media (max-width: 923px) {
  .work__project .wrapper {
    padding: 5em 0;
  }
  .work__project__text {
    position: relative;
  }
  .work__project__text__description {
    font-size: 1.2rem;
  }
  .work__project__text__stack {
    margin: 0.8em 0;
    font-size: 1rem;
  }
  .work__project__img-container {
    position: relative;
  }
  .work__project__img-container__links {
    position: absolute;
    padding: 1.3em 0;
    width: 100%;
  }
  .work__project__img-container__links a {
    font-size: 1rem;
    color: black;
  }
}

.contact {
  background: #f7f7f7;
  height: 100vh;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__heading {
  text-shadow: 3px 3px rgba(58, 0, 17, 0.171);
  font-family: "Boska", serif;
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.contact__message {
  font-family: "Satoshi", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.contact__message a {
  color: #720022;
  text-shadow: 2px 2px rgba(58, 0, 17, 0.171);
  -webkit-text-decoration: 1px underline solid #720022;
          text-decoration: 1px underline solid #720022;
}

.contact .links {
  position: absolute;
  bottom: 5em;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .links a {
  margin: 1px 0;
  font-family: "Satoshi", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: #720022;
  text-shadow: 2px 2px rgba(58, 0, 17, 0.171);
  font-size: 1rem;
  font-weight: 400;
}

.contact .links a:hover {
  -webkit-text-decoration: line-through 1px;
          text-decoration: line-through 1px;
}
/*# sourceMappingURL=main.css.map */