body,
ul,
h1,
h2 {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

header {
  background: #f3eee8;
}

.wrapper {
  width: 88%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

header {
  height: 100vh;
}

header .links {
  position: absolute;
  bottom: 5em;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .links a {
  margin: 1px 0;
  font-family: "Satoshi", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: #720022;
  text-shadow: 2px 2px rgba(58, 0, 17, 0.171);
  font-size: 1rem;
  font-weight: 400;
}

header .links a:hover {
  -webkit-text-decoration: line-through 1px;
          text-decoration: line-through 1px;
}

header .scroll {
  font-family: "Satoshi", sans-serif;
  position: absolute;
  bottom: 5em;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .scroll::before {
  border-radius: 30px;
  content: '';
  display: block;
  height: 70px;
  width: 1px;
  background: black;
}

header .scroll__arrow {
  margin-top: -12px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main {
  position: relative;
}

main .featured-work-circle {
  position: absolute;
  top: -5em;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 80px;
  height: 80px;
}

.greeting {
  padding-top: 1em;
  height: calc(100% - 1em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.greeting__name {
  font-family: "Boska", serif;
}

.greeting__name h1 span {
  margin-right: 0.15em;
  text-shadow: 2px 2px rgba(58, 0, 17, 0.171);
  font-size: 6.7rem;
  font-style: italic;
  font-weight: 500;
  color: #312f3d;
}

.greeting__title {
  font-family: "Satoshi", sans-serif;
}

.greeting__title h2 {
  font-size: 1.8rem;
  font-weight: 300;
}

nav {
  font-family: "Boska", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-icons {
  cursor: pointer;
  position: absolute;
  top: 3em;
  right: 0;
  width: 40px;
}

nav ul {
  position: relative;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: #f3eee8;
}

nav ul li {
  margin: 0.5em 0;
}

nav ul li a {
  color: black;
  letter-spacing: -1px;
  font-size: 5.3rem;
  font-style: italic;
  text-shadow: 2px 2px rgba(58, 0, 17, 0.171);
}

nav ul li a:hover {
  -webkit-text-decoration: line-through 3px #720022;
          text-decoration: line-through 3px #720022;
}

.work .project1 {
  background: #e3dacd;
}

.work__project {
  height: 100vh;
}

.work__project .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__project__text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__project__text__title {
  text-shadow: 3px 3px rgba(58, 0, 17, 0.171);
  font-weight: 500;
  font-family: "Boska", serif;
  text-transform: uppercase;
  font-size: 6.3rem;
}

.work__project__text__description {
  font-size: 1.2rem;
  width: 70%;
  letter-spacing: 0.2px;
  line-height: 1.5em;
  font-weight: 300;
}

.work__project__text__description, .work__project__text__stack {
  font-family: "Satoshi", sans-serif;
}

.work__project__text__stack {
  margin-top: 1.5em;
  margin-bottom: 4em;
}

.work__project__text__stack span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  padding: 0 0.5em;
  border-right: 1px solid black;
}

.work__project__text__stack span:nth-of-type(1) {
  padding-left: 0;
}

.work__project__img-container {
  cursor: pointer;
  width: 50%;
  position: relative;
}

.work__project__img-container::before {
  content: '';
  background: #857f7725;
  -webkit-box-shadow: 0 5px 10px #797979;
          box-shadow: 0 5px 10px #797979;
  position: absolute;
  width: 100%;
  height: 100%;
}

.work__project__img-container img {
  width: 100%;
}

.work__project__img-container__links {
  margin: 1em 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.work__project__img-container__links a {
  font-family: "Satoshi", sans-serif;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.work__project__img-container__links a:nth-of-type(1) {
  margin-right: 1.5em;
}

.work .project2 {
  background: #f3eee8;
}

.contact {
  background: #cbd4d4;
  height: 100vh;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__heading {
  text-shadow: 3px 3px rgba(58, 0, 17, 0.171);
  font-family: "Boska", serif;
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.contact__message {
  font-family: "Satoshi", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.contact__message a {
  color: black;
  -webkit-text-decoration: underline solid black;
          text-decoration: underline solid black;
}
/*# sourceMappingURL=main.css.map */