//background colors
$lightBackground: #f4f8fe;
$darkBackground: #050c44;

//font colors
$darkFont: #090e36;
$lightFont: #ffffff;

//accent colors
$accentColor: #ff300a;

//font families
$headingFont: 'Boska', serif;
$bodyFont: 'Satoshi', sans-serif;