main {

    position: relative;
    
    .featured-work-circle {
        position: absolute;
        top: -2.5em;
        left: 46%;
        transform: translate(-50%, 50%);
        width: 90px;
        height: 90px;
    }
}