main {

    position: relative;

    .circle-container {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: -2.5em;
        
    }
    
    .featured-work-circle {
        width: 90px;
        height: 90px;
    }
}